accelerate
datasets
torchmetrics
evaluate
transformers>=4.28.0
wandb
pip
peft
nodelist-inflator
deepspeed
sentencepiece
jsonlines
nomic
scikit-learn
matplotlib
setuptools>=70.0.0 # not directly required, pinned by Snyk to avoid a vulnerability